<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello There !
      </h1>
      <p class="subtitle">
        My name is <strong> <%= data.name %> </strong>!
      </p>
      <p class="subtitle">
          My age is <strong> <%= data.age %> </strong>!
        </p>
        <p class="subtitle">
            My contact is <strong> <%= data.contact %> </strong>!
          </p>
    </div>
  </section>
  </body>
</html>